@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}


body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
}
#side-img {    
    position: relative;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100vh;
    background-image:url(background-img.jpg);
    background-size: cover;
}

#side-img span{
    position: absolute;
    bottom: 10px;
    color: white;
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 120px;
}

#side-img h1{
    color: white;
    font-family: odin-font;
    font-size: 60px;
}

.odin-logo {
    width: 70px;
}

#form-side {
    display: block;
    width: 60%;
    background-color: rgb(238, 238, 238);
}

.form-decription{
    padding: 10vh 30px 10px 30px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(238, 238, 238);
}

.form{
    padding-top: 30px;
    background-color: white;
}

.form-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border: none;

}

.form-title {
    font-weight: bold;
    font-size: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}

.form-footer {
    padding-left: 30px;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
}

.submit-btn {
    width: 140px;
    height: 40px;
    margin-top: 30px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.log-in-btn {
    border: none;
    color: blue;
    background-color: rgb(238, 238, 238);
}


.form-element input {
    border: 1px solid black;
}

/* .form-element input:focus {
    border-color: blue;
}

.password:valid, .conf-password:valid {
    border-color: green;
}

.password:invalid, .conf-password:invalid {
    border-color: red;
} */

input:focus{
    border-color: blue;
}

/* input:valid {
    border-color: blue;
} */

input:invalid {
    border-color: red;
}